<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  
  <ion-card *ngFor="let filme of listaFilmes">
    <h1 class="feedTitle">{{filme.original_title}}</h1>
    <p class="feedDate">{{filme.release_date}}</p>
    <img [src]="'https://image.tmdb.org/t/p/w300'+filme.backdrop_path" />
    <ion-card-header>
      <ion-card-subtitle>Lingua Original</ion-card-subtitle>
      <ion-card-title>{{filme.original_language}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{filme.overview}}
    </ion-card-content>
    <ion-button (click)="openDetalhes(filme)" expand="block" color="secondary">
      Detalhes
    </ion-button>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>