h1.feedTitle {
    color: #3CB371;
    position: relative;
    text-align: center;
  }
  p.feedDate{
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }